#pic_block{
    text-align: center;
    margin: 10px;
}
button{
    margin: 0 auto;
    display: block;
    width: 150px;
    height: 50px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: rgb(140, 221, 224);
}
h1{
    text-align: center;
}
.dogPic{
    width: 450px;
    height: 350px;
}